<html>
<head>
	<title>Список задач</title>
	<style>
		table {
			margin-top: 5px;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			border: 1px solid grey;
		}
	</style>
</head>
<body>
	<h1>Здравствуйте {{ user }}. Список дел на сегодня</h1>
	<form action="../tasks.php" method="post">
		<table>
			<input type="text" name="adding"><input type="submit" name="add" value="Добавить">			
			<tr style="background-color: #eeeeee">
				<td>Автор</td>
				<td>Ответственный</td>
				<td>Закрепить задачу за пользователем</td>
				<td>Описание задачи</td>
				<td>Статус</td>
				<td>Дата добавления</td>
			</tr>

			{% for data in mysqli_fetch_array(main_table) %}
			<tr>
				<td>{{ user }}</td>
				<td>{{ data['login'] }}</td>
				<td>
					<select name="user_rep">
						<option></option>
						{% for el in users %}
						<option>{{ el }}</option>
						{% endfor %}
					</select>
					<br>
					<input type="submit" name="{{ 'r'.data['user_id'] }}" value="Перенаправить задачу">
				</td>
				<td>{{ data['description'] }}</td>
				<td>{{ data['is_done'] }}</td>
				<td>{{ data['date_added'] }}</td>
				<td style="border: none"><input type="submit" name="{{ 'c'.data['user_id'] }}" value="Выполнить"></td>
				<td style="border: none"><input type="submit" name="{{ 'd'.data['user_id'] }}" value="Удалить"></td>
			</tr>
			{% endfor %}
		</table>
	</form>

	<p>Так же посмотрите, что от Вас требуют другие люди</p>
	<form action="../tasks.php" method="post">
		<table>
			<tr style="background-color: #eeeeee">
				<td>Автор</td>
				<td>Ответственный</td>
				<td>Описание задачи</td>
				<td>Статус</td>
				<td>Дата добавления</td>
			</tr>

			{% for data in mysqli_fetch_array(table) %}
			<tr>
				<td>{{ data['login'] }}</td>
				<td>{{ user }}</td>
				<td>{{ data['description'] }}</td>
				<td>{{ data['is_done'] }}</td>
				<td>{{ data['date_added'] }}</td>
				<td style="border: none"><input type="submit" name="{{ 'c'.data[0] }}" value="Выполнить"></td>
				<td style="border: none"><input type="submit" name="{{ 'd'.data[0] }}" value="Удалить"></td>
			</tr>
			{% endfor %}
		</table>
	</form>

	<br>
	<form action="../tasks.php" method="post">
		<input type="submit" name="exit" value="Выход">
	</form>
</body>
</html>
